footer.page-footer {
  padding-left: 4%;
  padding-right: 4%;
  font-family: 'Roboto';
  background: url('/images/fondo-footer.jpg') rgba(0, 0, 0, 0.7);
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;

  .footer-contacto li {
    margin-bottom: 15px;

    & > * {
      vertical-align: middle;
    }

    .texto {
      display: inline;
    }
  }

  .footer-areas li {
      padding-bottom: 15px;
      font-size: 13px;
  }

  .footer-redes {
    display: flex;
    width: 100%;
    justify-content: center;

    img {
      margin: 10px;
      transition: transform 0.15s, filter 0.3s;

      &:hover {
        transform: scale(1.2, 1.2);
        filter: contrast(80%) brightness(130%);
      }
    }
  }

  .logo-footer {
    transition: transform 0.15s, filter 0.25s;

    &:hover {
      transform: scale(1.1, 1.1);
      filter: contrast(90%) brightness(115%);
    }
  }

  .footer-copyright .convenios {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;

    .conv {
      flex-grow: 1;
      text-align: center;

      img {
        height: 80px;
      }
    }
  }

  .footer-divider {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}